body{
    background-color: rgba(18, 113, 168, 0.23);
}

body nav.navbar{
    background-color:rgb(18, 113, 168) !important;
}

body nav.navbar img{
    margin-left:20px;
    width:100px;
    height:100px;
}

body nav.navbar a#tituloNav{
    margin-left:50px;
}

body nav.navbar li{
    padding-left: 80px;
    padding-bottom: 15px;
    padding-top:20px;
}

body nav.navbar a{
    color:white !important ;
    font-weight: bold;
}

body nav.navbar li.nav-item label{
    color:white !important ;
    font-weight: bold !important;  
}

body div.row {
    margin-top:20px;
    background-color: rgba(42, 80, 102, 0.158);
    padding-top: 20px;
    padding-bottom: 20px;
}

body div.mostrarCont{
        cursor: pointer;
        transition: all 0.5s ease-in-out;
}

body div.mb-3.oculto{
    display: none;
}

body div.mostrarCont:hover > div.mb-3.oculto{
    display:flex;
}

body div.mostrarContDos{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

body div.mb-3.ocultoDos{
    display: none;
}

body div.mostrarContDos:hover > div.mb-3.ocultoDos{
    display:flex;
}


