body {
    background: linear-gradient(120deg, #d4e6f1, rgb(18, 113, 168));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex-grow: 1;
}

#textoInicio {
    font-size: 45px;
    font-family: 'Open Sans';
    font-weight:bolder;
    margin-bottom: 2rem;
    font-size: 30px;
}

.recordar-link {
    width: 100px;
    color: rgb(0, 132, 255);
    text-decoration: none;
    margin-right: calc(43% - 50px);
}

.recordar-link:hover {
    color: #00f;
    text-decoration: underline;
}

.btn.btn-primary {
    width: 100%;
    max-width: 250px;
}

#registrate{
    text-decoration: none;
    width: 150px;
    height: 50px;
}

#registrate:hover{
    color: #00f;
    text-decoration: underline;
    cursor: pointer;
}

.cuadro-form {
    border: 1px solid black;
    
}

.color-fondo{
    background-color: #fff ;
    box-shadow: 0 0 15px #0009
    ;
}

.img-fluid{
    transition: all 0.3s ease-in-out; 
}

.img-fluid:hover{
    transform: scale(1.1);
}

.nuevoUsuario{
    color: #fff;
    text-decoration: none;
}

.nuevoUsuario:hover{
    text-decoration: none;
}

.form-control{
    width: 300px;
}

@media (min-width: 992px) {
    #imagenInicio img {
        max-width: 350px;
        height: auto;
    }
}

@media (max-width: 991.98px) {
    #imagenInicio {
        margin-bottom: 2rem;
    }

    #imagenInicio img {
        max-width: 250px;
        height: auto;
    }
}

@media (max-width: 575.98px) {
    #textoInicio {
        font-size: 35px;
    }

    .form-control {
        font-size: 0.9rem;
    }

    .btn.btn-primary {
        max-width: 200px;
    }
}