#subirServicio {
    margin-top: 20px;
}

#ServiciOnline {
    margin-left: 90%
}

.card {
    height: 500px;
    padding-bottom: 4rem;
   overflow-y: auto;
  overflow-x: hidden;
    margin-top: 10px;

}

.btn {
    width: 95px;
    height: 40px;

}

.btones {
    background-color: azure;
}

@media (max-width: 991px) and (min-width: 500px) {
    .mostrarCont {
        margin-top: 10px;
    }
}

@media (max-width: 499px) {
    .mostrarCont {
        margin-top: 10px;
    }
}