<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/favoritos.css ">
</head>

<body>


      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="../../resources/logoLaRuta.jpg" class="img-thumbnail" alt="...">
        <a id="tituloNav" class="navbar-brand" href="./index.html">Blog Personal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="./perfil.html">Perfil <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./servicios.html">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./comunidades.html">Comunidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./favoritos.html">Favoritos</a>
                </li>
                <li class="nav-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                        <label class="form-check-label" for="checkDefault">
                            Modo claro
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkChecked" checked>
                        <label class="form-check-label" for="checkChecked">
                            Modo oscuro
                        </label>
                    </div>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary position-relative">
                        Notificaciones
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            99+
                        <span class="visually-hidden">mss</span>
                      </span>
                    </button>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 mt-4">
                <div class="input-group flex-nowrap">
                    <input type="text" class="form-control" placeholder="Buscar comunidades o servicios favoritos"
                        aria-label="Buscar" aria-describedby="addon-wrapping">
                    <input class="botonBuscar" type="submit" value="Buscar">
                </div>
            </div>
        </div>

        <div class="container my-5">
            <div class="row">
                <div class="container my-5" id="seccion-servicios">
                    <h3 class="titulo-servicios">COMUNIDADES</h3>
                </div>
                <div id="carouselComunidades" class="carousel slide carousel-custom">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="card mx-auto card-custom">
                                <img src="../../resources/imgGymUno.jpg" class="card-img-top" alt="Comunidad fitness 1">
                                <div class="card-body">
                                    <h5 class="card-title">Comunidad fitness 1</h5>
                                    <p class="card-text">💪Únete a nuestra comunidad y entrena con personas que
                                        comparten tu pasión por el fitness.</p>
                                    <a href="#" class="btn btn-primary">Ir</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card mx-auto card-custom">
                                <img src="../../resources/imgGymDos.jpg" class="card-img-top" alt="Comunidad fitness 2">
                                <div class="card-body">
                                    <h5 class="card-title">Comunidad fitness 2</h5>
                                    <p class="card-text">🏋️‍♀️ Cambia tu estilo de vida con apoyo y motivación de
                                        otros deportistas como tú.</p>
                                    <a href="#" class="btn btn-primary">Ir</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card mx-auto card-custom">
                                <img src="../../resources/imgGymTres.jpg" class="card-img-top"
                                    alt="Comunidad fitness 3">
                                <div class="card-body">
                                    <h5 class="card-title">Comunidad fitness 3</h5>
                                    <p class="card-text">🚴 Comparte tus logros y retos diarios con otros amantes
                                        del ejercicio.</p>
                                    <a href="#" class="btn btn-primary">Ir</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselComunidades"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselComunidades"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>




                <div class="container my-5" id="seccion-servicios">
                    <h3 class="titulo-servicios">SERVICIOS</h3>
                

                    <div id="carouselServicios" class="carousel slide carousel-custom">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <div class="card mx-auto card-custom">
                                    <img src="../../resources/imgGymUno.jpg" class="card-img-top" alt="Pérdida de peso">
                                    <div class="card-body">
                                        <h5 class="card-title">Pérdida de peso</h5>
                                        <p class="card-text">Plan personalizado para quemar grasa y mejorar tu
                                            alimentación con apoyo.</p>
                                        <a href="#" class="btn btn-primary">Ir</a>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="card mx-auto card-custom">
                                    <img src="../../resources/imgGymDos.jpg" class="card-img-top"
                                        alt="Aumento de masa muscular">
                                    <div class="card-body">
                                        <h5 class="card-title">Aumento de masa muscular</h5>
                                        <p class="card-text">Rutinas y dieta para ganar músculo.</p>
                                        <a href="#" class="btn btn-primary">Ir</a>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="card mx-auto card-custom">
                                    <img src="../../resources/imgGymTres.jpg" class="card-img-top"
                                        alt="Entrenamiento en casa">
                                    <div class="card-body">
                                        <h5 class="card-title">Entrenamiento en casa</h5>
                                        <p class="card-text">Clases y ejercicios prácticos para entrenar sin necesidad
                                            de
                                            equipo.</p>
                                        <a href="#" class="btn btn-primary">Ir</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselServicios"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselServicios"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Siguiente</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center" id="top-servicios-comunidades">

            <h3 class="titulo-top">TOP SERVICIOS Y COMUNIDADES</h3>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="card top">
                    <img src="../../resources/imgGymUno.jpg" class="card-img-top" alt="Pérdida de peso">
                    <div class="card-body">
                        <h5 class="card-title">Pérdida de peso</h5>
                        <p class="card-text">Plan personalizado para quemar grasa y mejorar tu alimentación con apoyo.
                        </p>
                        <a href="#" class="btn btn-primary">Ir</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card top">
                    <img src="../../resources/imgGymDos.jpg" class="card-img-top" alt="Aumento de masa muscular">
                    <div class="card-body">
                        <h5 class="card-title">Aumento de masa muscular</h5>
                        <p class="card-text">Rutinas y dieta para ganar músculo.</p>
                        <a href="#" class="btn btn-primary">Ir</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card top">
                    <img src="../../resources/imgGymTres.jpg" class="card-img-top" alt="Entrenamiento en casa">
                    <div class="card-body">
                        <h5 class="card-title">Entrenamiento en casa</h5>
                        <p class="card-text">Clases y ejercicios prácticos para entrenar sin necesidad de equipo.</p>
                        <a href="#" class="btn btn-primary">Ir</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card top">
                    <img src="../../resources/imgGymUno.jpg" class="card-img-top" alt="Asesoría nutricional">
                    <div class="card-body">
                        <h5 class="card-title">Asesoría nutricional</h5>
                        <p class="card-text">Planes alimenticios adaptados a tus metas y estilo de vida con expertos.
                        </p>
                        <a href="#" class="btn btn-primary">Ir</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card top">
                    <img src="../../resources/imgGymDos.jpg" class="card-img-top" alt="Comunidad fitness">
                    <div class="card-body">
                        <h5 class="card-title">Comunidad fitness</h5>
                        <p class="card-text">Un texto de ejemplo rápido para construir el título de la tarjeta y hacer
                            el
                            la mayor parte del contenido de la tarjeta.</p>
                        <a href="#" class="btn btn-primary">Ir</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card top">
                    <img src="../../resources/imgGymTres.jpg" class="card-img-top" alt="Comunidad fitness">
                    <div class="card-body">
                        <h5 class="card-title">Comunidad fitness</h5>
                        <p class="card-text">Un texto de ejemplo rápido para construir el título de la tarjeta y hacer
                            el
                            la mayor parte del contenido de la tarjeta.</p>
                        <a href="#" class="btn btn-primary">Ir</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>